body {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    text-transform: uppercase;
}
.main-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 15px;
}
.loan-col {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
}
.loan-col div {
    border: 1px solid #ddd;
    padding: 10px 30px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.loan-col .percentages {
    border: none;
    display: flex;
}
.percentages div {
    border: 1px solid #ddd;
    margin: 5px;
    cursor: pointer;
    display: flex;
}
.total-result {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 60px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
table {
    margin: 0 auto;
}
tr th, tr td {
    border: 1px solid #ddd;
    padding: 15px;
    font-size: 22px;
}
.interest.active {
    background-color: #f9f9f9;
}
.loan-col select,
.loan-col select:focus,
.loan-col select:focus-visible {
    border: none;
    outline: 0;
}
@media screen and (max-width: 640px) {
    .total-result {
        padding: 20px;
    }
    table {
        overflow-x: scroll;
        margin: 0 auto;
        width: 100%;
        display: block;
        border: 1px solid #ddd;
    }
    tr th, tr td {
        font-size: 16px;
    }    
    .loan-col div {
        padding: 10px;
    }
    header h1 {
        font-size: 22px;
    }
}